@import '~bootstrap/scss/bootstrap.scss';

// Custom styles
body {
  background-image: url(./background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed
}

h1 {
  color: #343a40;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.5rem;
  color: #007bff;
}

.card-text {
  font-size: 1.2rem;
  color: #6c757d;
}

